html {
	max-width: 550px;
	margin: auto;
}
body {
    text-align: center;
}

.container {
	max-width: 550px;
}

canvas {
	position: relative;
	margin-top: -40px;
	width: 90%;
	max-width: 505px;
}

#start-game, #win, #lose {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#start-game, #win {
	margin-top: -350px;
}

#lose {
	margin-top: -523px;
}

#start-btn, #win-btn, #lose-btn {
	font-size: 1.5em;
	max-width: 350px;
	white-space: normal;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
	width: 90%;
}

#start-btn {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

#stats {
	position: absolute;
	margin-top: -76px;
	z-index: 1;
	color: white;
	font-weight: bold;
	width: 100%;
	max-width: 550px;
	font-size: 25px;
}

#stats h2 {
	font-size: 25px;
}

#high-score {
	padding-left: 30px;
	padding-right: 0px;
}

#high-score h2 {
	text-align: left;
	font-size: 1.25em;
}

#lives h2 {
	font-size: 1.25em;
	margin-top: 15px;
}

#level {
	padding-left: 33px;
}

#level h2 {
	text-align: left;
	margin-left: 10px;
}

#score h2 {
	text-align: right;
	margin-left: 20px;
	padding-right: 30px;
}

.heart img {
	width: 25px;
	margin-top: -12px;
}

#time {
	position: absolute;
	margin-top: -535px;
	padding-left: 30px;
	z-index: 1;
	color: white;
	font-weight: bold;
	width: 250px;
}

#time h2 {
	text-align: left;
	font-weight: bold;
	font-size: 2.75rem;
}

@-webkit-keyframes glowing {
  0% { background-color: #5cb85c; -webkit-box-shadow: 0 0 3px #5cb85c; }
  50% { background-color: #428542; -webkit-box-shadow: 0 0 40px #428542; }
  100% { background-color: #5cb85c; -webkit-box-shadow: 0 0 3px #5cb85c; }
}

@-moz-keyframes glowing {
  0% { background-color: #5cb85c; -moz-box-shadow: 0 0 3px #5cb85c; }
  50% { background-color: #428542; -moz-box-shadow: 0 0 40px #428542; }
  100% { background-color: #5cb85c; -moz-box-shadow: 0 0 3px #5cb85c; }
}

@-o-keyframes glowing {
  0% { background-color: #5cb85c; box-shadow: 0 0 3px #5cb85c; }
  50% { background-color: #428542; box-shadow: 0 0 40px #428542; }
  100% { background-color: #5cb85c; box-shadow: 0 0 3px #5cb85c; }
}

@keyframes glowing {
  0% { background-color: #5cb85c; box-shadow: 0 0 3px #5cb85c; }
  50% { background-color: #428542; box-shadow: 0 0 40px #428542; }
  100% { background-color: #5cb85c; box-shadow: 0 0 3px #5cb85c; }
}

#sound-container {
	margin-top: 10px;
	z-index: 2;
}

#up-btn, #down-btn {
	display: block;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

#left, #right, #center {
	display: inline-block;
}


@media screen and (max-width: 500px) {
	#high-score h2 {
  	font-size: 1em;
  	margin-top: 15px;
	}

	#lives h2 {
		font-size: 1rem;
	}

	.heart img {
    width: 15px;
    margin-top: -4px;
	}

	#sound-container {
    margin-top: 4px;
	}

	#stats {
    margin-top: -61px;
	}

	#stats h2 {
		font-size: 20px;
	}

	#score {
		padding-left: 0px;
	}
}

@media screen and (max-width: 567px) {
	#start-game, #win {
		margin-top: -63.5%;
	}

	#lose {
		margin-top: -95%;
	}

	#time {
		margin-top: -97%;
		padding-left: 6%;
	}

	#time h2 {
		font-size: 2.25rem;
	}
}

#third-kill {
	font-size: 1rem;
}

#game-over {
	font-size: 1.5rem;
}